<html>
  <head>
    <title>Get Tweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/home.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <br>
        <h1>Tweet Map {% if keyword %} for {{keyword}} {% endif %}</h1>
      <br>
      <form action="" method="post">
          <select name="keyword">
            <option value=""></option>
            <option value="like">Like</option>
            <option value="travel">Travel</option>
            <option value="better">Better</option>
            <option value="good">Good</option>
            <option value="love">Love</option>
            <option value="today">Today</option>
            <option value="work">Work</option>
            <option value="football">Football</option>

              {#    <option value="">Audi</option>#}
          </select>
        <input class="btn btn-default" type="submit">
      </form>
      {# If and only if errors arise#}
      {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    <!--{% if tweets %}-->
       <!--{% for tweet in tweets %}-->
        <!--<p><ul>-->
            <!--{%  for value in tweet %}-->

                    <!--<li>{{ value }}</li>-->

            <!--{% endfor %}-->
        <!--</ul>-->
        <!--{% endfor %}-->

      <!--{% else %}-->
    </div>

      <!--{% endif %}-->
   <div id="map"></div>
    <script>
    <!--var locations = [-->
      <!--['Bondi Beach', -33.890542, 151.274856, 4],-->
      <!--['Coogee Beach', -33.923036, 151.259052, 5],-->
      <!--['Cronulla Beach', -34.028249, 151.157507, 3],-->
      <!--['Manly Beach', -33.80010128657071, 151.28747820854187, 2],-->
      <!--['Maroubra Beach', -33.950198, 151.259302, 1]-->
    <!--];-->
    var locations = {{tweets|tojson}};
    console.log(locations);

     function initializeMaps(){
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(8,0),
          mapTypeId: 'terrain'
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQDDDPCrcMs9GwsLqS5IvUExsxaxd542g&callback=initializeMaps">
    </script>
  </body>
</html>
